.cart_item__container {
  display: grid;
  grid-template-columns: auto 70fr 35fr;
  grid-template-rows: 12rem;
  font-size: 1.6rem;
  font-weight: 300;
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.07);
  column-gap: 1rem;
  position: relative;
}

.cart_item__container input {
  font-size: 1.6rem;
  font-weight: 700;
}

.cart_item__img {
  height: 100%;
}
.cart_item__container label {
  font-weight: 300;
  width: max-content;
}

.cart_item__info_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}
.cart_item__productNo {
  font-style: italic;
  font-size: 1.4rem;
}

.cart_item__price_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  justify-self: right;
  padding: 1rem 1rem 0 0;
}

.cart_item__btns_box {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.cart_item__fav_btn {
  font-size: 2.6rem;
}

.cart_item__close_btn {
  font-size: 2.6rem;
}

.total_box {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* width below 560px */
@media (max-width: 35em) {
  .cart_item__container {
    grid-template-columns: unset;
    grid-template-rows: auto 30rem auto auto;
  }

  .cart_item__price_box {
    grid-row: 1/2;
  }
  .cart_item__img_box {
    display: flex;
    justify-content: center;
  }

  .cart_item__info_box {
    padding: 1rem 2rem 4rem 2rem;
  }
  .total_box {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
