.total__container {
  background-color: #707070;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.8rem;
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

div[name="total"] {
  font-size: 2.4rem;
  font-weight: 500;
  border-top: 3px solid #000;
  padding-top: 1rem;
  margin-top: 1rem;
}
