/* .product_item__container {
  width: 30rem;
} */

.product_item__img_box {
  position: relative;
  width: 100%;
}

.product_item__img {
  width: 100%;
  object-fit: contain;
}

.product_item__info {
  font-size: 1.6rem;
}
.product_item__info_price {
  font-size: 1.4rem;
  font-weight: 500;
}

.product_item__favorite {
  margin: 0.6rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
.product_item__favorite {
  width: 4rem;
  height: 4rem;
}
