.product_info__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.product_info__text_box {
  font-size: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  row-gap: 3rem;
}

.product_info__text_box .product_info_title {
  grid-column: 1/-1;
}

.product_info__text_box .product_info_price {
  align-self: start;
  justify-self: right;
}
.product_info__text_box .product_info__favorite {
  align-self: center;
  justify-self: left;
  display: flex;
}

.product_info__favorite svg {
  width: 4rem;
  height: 4rem;
}
.product_info_price {
  font-size: 2.6rem;
  font-weight: 500;
}

.form__purchase {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.form__purchase label,
.form__purchase select {
  font-size: 2.4rem;
}

.form__purchase label {
  margin-right: 2rem;
}

.purchase__form_box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.spec_radio__box {
  display: inline-flex;
  gap: 1rem;
}
.spec_radio__label {
  background-color: #dfdfdf;
  border: 1px solid rgb(176, 176, 176);
  display: inline-block;
  width: 4rem;
  text-align: center;
  font-weight: 300;
  padding: 0.2rem 0.5rem;
  margin-right: 0 !important;
  cursor: pointer;
}
.spec_radio__label:hover,
.spec_selected {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

.spec_radio {
  display: none;
}

.btn__purchase {
  background-color: black;
  color: #fff;
  font-size: 2.6rem;
  font-weight: 700;
  gap: 1rem;
  font-size: 2rem;
  width: 100%;
  padding: 0.8rem 0;
}

.btn__purchase ion-icon {
  font-size: 4rem;
}

.invalid {
  border: 2px red solid;
  box-sizing: content-box;
  padding: 1.2rem 0.5rem;
  position: relative;
}

.error_message {
  position: absolute;
  top: 0;
  left: 5%;
  background-color: #fff;
  color: red;
  font-weight: 500;
  font-size: 1.6rem;
  transform: translateY(-65%);
  padding: 0 1rem;
}

/* below width 1200px */
@media (max-width: 76em) {
  .product_info__text_box {
    font-size: 3rem;
  }
}

/* below width 992px */
@media (max-width: 62em) {
  .product_info__text_box {
    font-size: 2.6rem;
  }
  .product_info_price {
    font-size: 2rem;
  }
}

/* below width 900px */
@media (max-width: 56.25em) {
  .product_info__container {
    gap: 4rem;
  }
  .product_info__text_box {
    font-size: 3.6rem;
    grid-template-columns: auto 1fr;
  }
  .product_info_price {
    font-size: 2.6rem;
  }
  .product_info__text_box .product_info_title {
    grid-column: unset;
  }
  .product_info__text_box .product_info__favorite {
    justify-self: right;
  }

  .product_info__text_box .product_info_price {
    grid-column: 1/-1;
    justify-self: right;
  }
}

/* below width 784px */
@media (max-width: 49em) {
  .product_info__text_box {
    font-size: 2.6rem;
  }
  .product_info_price {
    font-size: 2rem;
  }
}
/* below width 560px */
@media (max-width: 35em) {
  .product_info__container {
    gap: 2rem;
  }
  .product_info__text_box {
    font-size: 2.2rem;
  }
  .product_info_price {
    font-size: 1.6rem;
  }

  .form__purchase label,
  .form__purchase select {
    font-size: 2rem;
  }
  :global(.favorite) {
    font-size: 3rem;
  }
}
/* below width 512px */
@media (max-width: 32em) {
  .product_info__text_box {
    font-size: 1.9rem;
  }
  .form__purchase label,
  .form__purchase select {
    font-size: 1.6rem;
  }
}
