.product_item__container {
  width: 100%;
}

.product_item__img_box {
  position: relative;
  width: 100%;
}

.product_item__img {
  width: 100%;
  object-fit: contain;
}

.product_item__info {
  font-size: 1.6rem;
}
.product_item__info_price {
  font-size: 1.4rem;
  font-weight: 500;
}

.fav_item__close {
  margin: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(243, 243, 243, 0.92);
  color: #9f9f9f;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav_item__close :hover {
  color: black;
}
