.order_detail__container {
  /* background-color: #1f1f1f; */
  padding: 4rem 2rem;
  border: 2px solid black;
  position: relative;
}

.order_detail__title {
  position: absolute;
  top: 0%;
  left: 3%;
  background-color: #fff;
  transform: translateY(-65%);
  padding: 0 2rem;
  font-size: 3rem;
  font-weight: 300;
}
.order_detail__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
