.store_delivery__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.store_delivery__recipient_box {
  display: flex;
  gap: 1rem;
}

.store_delivery__selector_box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid transparent;
}

.store_delivery__container label,
.store_delivery__container select {
  font-size: 2rem;
}

.store_delivery__container label {
  padding-right: 1rem;
}
