.checkout_page__container {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: 55fr 45fr;
  grid-template-rows: auto 1fr;
  column-gap: 2rem;
  row-gap: 3rem;
}

.checkout_page__container div[name="order_detail"] {
  grid-row: 1/-1;
  grid-column: 2/-1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn__send_order {
  background-color: #000;
  color: #fff;
  height: 8rem;
  font-size: 3.6rem;
  font-weight: 700;
  width: 100%;
}

/* width below 1168px */
@media (max-width: 73em) {
  .checkout_page__container {
    grid-template-columns: unset;
  }

  .check_out__contact_box {
    grid-row: 1 / span 1;
  }
  .check_out__delivery_box {
    grid-row: 2 / span 1;
  }

  .checkout_page__container div[name="order_detail"] {
    grid-row: unset;
    grid-column: unset;
  }
}
