.my_cart_page__container {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: 65fr 35fr;
  grid-template-rows: auto auto 1fr;
  gap: 4rem;
}

.cartlist_box {
  grid-row: 1/-1;
}

.btn__checkout {
  background-color: #000;
  color: #fff;
  height: 8rem;
  font-size: 3.6rem;
  font-weight: 700;
  cursor: pointer;
}
.btn__checkout:disabled {
  cursor: not-allowed;
  background-color: rgb(164, 164, 164);
  color: #777;
}
.btn__checkout:disabled:hover {
  background-color: rgb(164, 164, 164);
}

.btn__checkout:hover {
  background-color: rgb(49, 49, 49);
}

/* width below 900px */
@media (max-width: 56.25em) {
  .my_cart_page__container {
    padding: 4rem 2rem;
    /* display: grid; */
    grid-template-columns: 1fr;
    /* grid-template-rows: auto auto 1fr; */
    /* gap: 4rem; */
  }
}
