.login_modal__container {
  background-color: #dfdfdf;
  width: 60rem;
  padding: 4rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  font-size: 2.4rem;
  position: relative;
}

.login_modal__title {
  font-weight: 500;
}

.login_modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.login_modal__btn_login {
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 2rem;
  cursor: pointer;
  margin-bottom: 2rem;
}
.login_modal__btn_login:hover {
  background-color: #3d3d3d;
}

.go_to_register {
  align-self: flex-end;
  font-size: 1.8rem;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.link__register:link,
.link__register:visited {
  font-weight: 500;
}
.link__register:hover,
.link__register:active {
  font-weight: 700;
  text-decoration: underline;
}

.login_modal__btn_close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5rem;
}

/* width below 900px */
@media (max-width: 56.25em) {
  .login_modal__container {
    width: 70%;
  }
}
/* width below 544px */
@media (max-width: 34em) {
  .login_modal__container {
    font-size: 2rem;
  }
  .login_modal__container input {
    width: 100%;
    font-size: 1.6rem;
  }
  .login_modal__container label {
    font-size: 1.6rem;
  }
}
/* width below 432px */
@media (max-width: 27em) {
  .login_modal__container {
    font-size: 1.6rem;
    padding: 4rem 2rem;
  }
  .login_modal__container input {
    font-size: 1.4rem;
  }
  .login_modal__container label {
    font-size: 1.4rem;
  }
}
