@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Noto+Sans+TC:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-bar__height {
  padding-top: 6rem;
}

.breadcrumb__height {
  padding-top: 4rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  margin: 0 auto;
}

.favorite {
  font-size: 3.6rem;
  color: rgb(48, 48, 48);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.favorite ion-icon:hover {
  color: red;
}

.btn__close {
  font-size: 3.6rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fav__active {
  color: red;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #000;
}

input[readOnly] {
  background-color: transparent;
  border: none;
  cursor: default;
  /* width: auto; */
}

input[readOnly]:focus {
  outline: none;
}
