.sliders_container {
  max-width: 120rem;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider_box {
  width: 100%;
  transition: all 1.5s;
  display: flex;
}

.img_box {
  width: 100%;
}
.img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.slider_selectors_box {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

.slider_selector {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #5b5b5b;
}
